.attach {
  margin-top: 7rem;
  &-container {
    padding: 0 19.5rem;
  }
  &-heading {
    font-size: 3.4rem;
    font-weight: 700;
    color: #333333;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &-textarea {
    font-family: $primary-font;
    resize: none;
    width: 100%;
    padding: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #b1b5c3;
    background: #f4f5f6;
    border: 2px solid #e7ecf3;
    border-radius: 1.2rem;
    transition: all 0.3s linear;
    &::-webkit-input-placeholder {
      color: 1.8rem;
      font-weight: 500;
      color: #b1b5c3;
    }
    &:focus {
      border-color: #316bff;
    }
  }
  &-btn {
    width: max-content;
    margin-top: 2rem;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
  }
  &-cancel,
  &-submit {
    cursor: pointer;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: $secondary-font;
    line-height: calc(27 / 16);
  }
  &-cancel {
    color: #84878b;
    border: 2px solid #e7ecf3;
    margin-right: 2rem;
  }
  &-submit {
    color: white;
    background-color: #316bff;
  }
  @media screen and(max-width: 1439px) {
    &-container {
      padding: 0 15rem;
    }
  }
  @media screen and(max-width: 1279px) {
    &-container {
      padding: 0 10rem;
    }
  }
  @media screen and(max-width: 1023px) {
    &-container {
      padding: 0 5rem;
    }
  }
  @media screen and(max-width: 767px) {
    margin-top: 4rem;
    &-container {
      padding: 0;
    }
    &-top {
      display: block;
      text-align: center;
      img {
        margin: 2rem auto 0;
      }
    }
    &-textarea {
      padding: 2.5rem;
    }
    &-cancel,
    &-submit {
      font-size: 1.4rem;
    }
  }
}
