.room {
  margin-top: 7rem;
  &-container {
    padding: 0 19.5rem;
  }
  &-heading {
    font-size: 4rem;
    font-weight: 700;
    color: #23262f;
  }
  &-list {
    margin-top: 2rem;
  }
  &-row {
    background-color: white;
    border: 2px solid #e7ecf3;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &-row-caption {
    font-size: 2.4rem;
    font-weight: 500;
    color: #222529;
    margin-bottom: 1.5rem;
  }
  &-offer {
    font-size: 1.4rem;
    color: #84878b;
    display: inline-block;
    margin-bottom: 1.5rem;
  }
  &-row:not(:first-child) {
    margin-top: 3rem;
  }
  &-row-item {
    display: flex;
    align-items: center;
    gap: 0 8px;
    span {
      font-size: 1.4rem;
      color: #3b3e44;
    }
  }
  &-row-item:not(:last-child) {
    margin-bottom: 7px;
  }
  &-row:last-child .room-row-columns {
    display: flex;
    gap: 0 6.5rem;
  }
  &-row-money {
    font-size: 3.4rem;
    font-weight: 700;
    color: #141416;
    margin-bottom: 1.7rem;
    span {
      font-size: 2rem;
      color: #84878b;
    }
  }
  &-row-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-save {
    font-size: 1.8rem;
    color: #ffaf4e;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
  }
  &-on {
    font-size: 1.2rem;
    color: #84878b;
    margin-bottom: 2rem;
  }
  &-select {
    font-size: 1.8rem;
    color: white;
    background-color: #316bff;
    border-radius: 6px;
    font-weight: 500;
    padding: 1rem 1.7rem;
  }
  @media screen and(max-width: 1439px) {
    &-container {
      padding: 0 15rem;
    }
  }
  @media screen and(max-width: 1279px) {
    &-container {
      padding: 0 10rem;
    }
  }
  @media screen and(max-width: 1023px) {
    &-container {
      padding: 0 5rem;
    }
    &-row-caption {
      font-size: 2rem;
    }
  }
  @media screen and(max-width: 767px) {
    margin-top: 3rem;
    &-container {
      padding: 0;
    }
    &-heading {
      font-size: 3rem;
    }
    &-row {
      padding: 1rem;
    }
    &-row-caption {
      font-size: 1.5rem;
    }
    &-row-item {
      span {
        font-size: 1.2rem;
      }
    }
    &-row-money {
      font-size: 1.8rem;
      span {
        font-size: 1.6rem;
      }
    }
    &-row:last-child .room-row-columns {
      display: block;
    }
    &-row:last-child .room-row-columns .room-row-column:first-child {
      margin-bottom: 7px;
    }
  }
  @media screen and(max-width: 376px) {
    &-row-caption {
      font-size: 1.2rem;
    }
    &-offer {
      font-size: 1rem;
    }
    &-row-item {
      span {
        font-size: 1rem;
      }
    }
    &-select {
      font-size: 1.4rem;
    }
  }
}
